# Prerequisites & Dependencies
*.d

# Compiled Object files
*.o
*.obj
*.slo
*.lo

# Precompiled Headers
*.gch
*.pch

# Compiled Libraries
*.a
*.lib
*.so
*.dylib
*.dll
*.la
*.lai

# Executables
*.exe
*.out
*.app

# CMake Build Directories & Files
cmake-build-*/
build/
bin/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# IDE Configuration Files
.idea/
Idea/
.vscode/
.vs/
*.iml

# OS-specific files
.DS_Store
Thumbs.db